@import "./searchbar.css";

:root {
--black:#171717;
--darkgreen:#c43d3d;
--green:#e75542;
--white:#fff;
}

body {
font:16px/26px Helvetica,Helvetica Neue,Arial;
}

.wrapper {
margin:0 5%;
width:90%;
}

.margin10 {
margin:10px;
}

main {
display:flex;
min-height:100%;
padding:30px;
}

aside {
padding:0 5% 10px;
}

footer {
height:auto;
margin-top:30px;
min-height:180px;
text-align:center;
width:100%;
}

footer,aside {
background:var(--green);
border-top:20px solid var(--darkGreen);
color:var(--white);
}

aside img {
max-height:100%;
max-width:100%;
}

.button-like-view {
background-color:rgba(107,107,107,0.4);
border-radius:1rem;
color:var(--white);
line-height:normal;
margin:10px;
padding:5px;
text-align:center;
width:30%;
}

.full-image-label {
align-items:center;
background-attachment:fixed;
background-image:url(../image/book.jpg);
background-repeat:no-repeat;
background-size:100% 100%;
display:none;
flex-direction:row;
flex-wrap:wrap;
height:400px;
justify-content:center;
width:100%;
}

header a {
float:left;
}

nav ul {
list-style-type:none;
}

.borderRadius {
background:var(--green);
color:var(--white);
font-weight:bold;
margin:15px;
padding:25px 2%;
text-align:center;
text-decoration:none;
width:96%;
}

nav a:hover {
background:var(--darkGreen);
text-decoration:underline;
}

#logo {
color:var(--green);
text-decoration:none;
width:100%;
}

#logo h1 {
margin-bottom:0;
}

form {
display:grid;
}

label {
font-size:1.4em;
margin:10px;
text-align:left;
}

.roundInput {
border:1px solid #ccc;
box-sizing:border-box;
display:inline-block;
padding:12px 20px;
width:100%;
}

.submit {
background-color:var(--darkGreen);
border:none;
color:var(--white);
margin:20px 0;
padding:14px 20px;
width:100%;
}

.borderRadius {
border-radius:5px;
}

h2,H3,H4,p,li {
color:var(--white);
}

.highItem {
-moz-transition:margin .3s ease-out;
-o-transition:margin .3s ease-out;
-webkit-transition:margin .3s ease-out;
background-color:var(--green);
border-radius:10px;
border-top:var(--darkGreen);
border-width:10px;
box-shadow:0 15px 20px 0 rgb(0 0 0 / 9%);
float:left;
margin:2%;
position:relative;
transition:.7s;
width:96%;
}

.highItem img {
    width: 100%;

    width: fill-available;
    border-radius: 10px;
}

.highItem:hover {
cursor:pointer;
margin-top:-8px;
}

.highItem h2,p {
margin:15px;
}

.profile {
padding:2%;
}

@media only screen and (min-width: 1060px) {
#logo {
float:left;
width:auto;
}

nav {
display:flex;
padding-left:90px;
}

.full-image-label {
display:flex;
}

.leftColumn {
float:left;
width:50%;
}

.rightColumn {
float:right;
width:50%;
}

.highItem {
margin:1%;
width:31.33%;
}

.highItem img {
    width: 100%;
    border-radius: 10px;
}
.borderRadius {
max-width:23%;
padding:25px 1%;
}

#redaction {
float:left;
width:57%;
}

aside {
float:right;
width:27%;
}

.wrapper {
margin:0 auto;
width:1155px;
}
}

@media screen and (prefers-color-scheme: dark) {
body {
background:var(--black);
}

:root {
--black:#171717;
--darkgreen:#c43d3d;
--green:#e75542;
--white:#fff;
}
}